<!-- checkpoint compents -->
<!-- <app-cv></app-cv> -->

<!-- checkpoint todo service -->
 <!-- <app-todo></app-todo> -->


<!-- checkpoint final injecting a service    -->
<!-- <app-cv></app-cv> -->


<!-- checkpoint nav bar routing  -->
<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<!-- checkpoint Trigger a route  -->
<!-- <app-header></app-header>
<app-routersimulator></app-routersimulator>
<router-outlet></router-outlet> -->

<!-- checkpoint Retrieve the parameters -->
<!-- <app-header></app-header>
<app-routersimulator></app-routersimulator>
<router-outlet></router-outlet> -->

<!-- checkpoint children roote  -->
<!-- <app-header></app-header>
<app-routersimulator></app-routersimulator>
<router-outlet></router-outlet> -->

<!-- checkpoint validation -->
<!-- <app-header></app-header>
<app-routersimulator></app-routersimulator>
<router-outlet></router-outlet> -->

<!-- checkpoint prop of forms control -->
<app-header></app-header>
<app-routersimulator></app-routersimulator>
<router-outlet></router-outlet>


